---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Daylist" description="Daylist web app">
  <main class="flex min-h-svh flex-col items-center justify-center gap-4">
    <h1>Daylist</h1>
    <p>Astro web app is running.</p>
  </main>
</Layout>
